:root {
    --primary-color: rgb(132,14,201);
    --column-color: rgb(34, 20, 43);
    --backgroud-color: rgb(34,34,34);
    --primary-button: #3d7a0b;
}


* {
    margin: 0;
    padding: 0;
    font-family: poppinsregular;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroud-color);
    color: white;
}

.primario {
    border: none;
    background-color: var(--primary-button);
    color: white;
    font-size: 16px;
    padding: 9px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.primario:hover {
    background-color: #4cae4c;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 30px;
}

.container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0;
}

.container .coluna {
    width: 270px; /* Aumentar a largura das colunas */
    height: 650px; /* Aumentar a altura das colunas */
    background-color: var(--column-color);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Adicionar padding para aumentar a área de drop */
    margin: 20px; /* Adicionar margin para aumentar a área de drop */
}

.container .coluna .head {
    background-color: var(--primary-color);
    padding: 15px;
    text-align: center;
    border-radius: 3px;
}

.container .coluna .body {
    display: flex;
    flex-direction: column;
    background-color: var(--column-color);
    gap: 10px;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #af94c9 var(--column-color);
}

.container .coluna .body::-webkit-scrollbar {
    width: 8px;
}

.container .coluna .body::-webkit-scrollbar-track {
    background: var(--column-color);
    border-radius: 10px;
}

.container .coluna .body::-webkit-scrollbar-thumb {
    background-color: var(--primary-button);
    border-radius: 10px;
    border: 2px solid var(--column-color);
}

.container .coluna .body .task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .coluna .body .task-add-btn {
    background-color: var(--primary-button); /* Cor do botão*/
    color: white;
    border-radius: 10px;
    border: none;
    padding: 8px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    font-size: 14px; 
    transition: background-color 0.3s ease;
}

.container .coluna .body .task-add-btn:hover {
    background-color: #4cae4c; /* Cor mais clara ao passar o mouse */
}

.container .coluna .body .task-add-btn .material-symbols-outlined {
    margin-right: 5px;
    font-size: 18px; /* Diminuir o tamanho do ícone */
}

.container .coluna .body .card {
    border-radius: 7px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.baixa {
    background-color: #9bffb2; /* Verde claro */
}

.media {
    background-color: #ffe181; /* Laranja claro */
}

.alta {
    background-color: #ffb0b6; /* Vermelho claro */
}

.container .coluna .body .card .info {
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column;
}

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal .box {
    background-color: var(--primary-color);
    width: 400px;
    border-radius: 7px;
    overflow: hidden;
}

#modal .box .head {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #DDD;
}

#modal .box .head span {
    font-size: 18px;
    font-weight: 700;
    color: #DDD;
}

#modal .box .head button {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #DDD;
}

#modal .box .form {
    padding: 20px;
}

#modal .box .form .form-group {
    margin-bottom: 15px;
}

#modal .box .form label {
    display: block;
    font-size: 14px;
    color: #DDD;
    margin-top: 10px;
    margin-bottom: 5px;
}

#modal .box .form textarea,
#modal .box .form select,
#modal .box .form input {
    width: 100%;
    border-radius: 7px;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #999;
    color: #333;
}

#modal .box .form textarea {
    padding: 10px 15px;
}

#modal .box .form select {
    padding: 10px;
}

#modal .box .form button {
    display: block;
    margin-left: auto;
}

#modal .box .form-btn{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#modal .box .form button.delete-btn {
    display: block;
    background-color: #d9534f;
    color: white;
    margin-left: 0;
}

#modal .box .form button.delete-btn:hover {
    background-color: #e07875;
}