:root {
    --primary-color: rgb(132,14,201);
    --column-color: rgb(34, 20, 43);
    --backgroud-color: rgb(34,34,34);
    --primary-button: #3d7a0b;
    --font-size: 1rem;
    --padding: 1rem;
    --margin: 1rem;
    --border-radius: 0.5rem;
}


* {
    margin: 0;
    padding: 0;
    font-family: poppinsregular;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroud-color);
    color: white;
    font-size: var(--font-size);
}

.primario {
    border: none;
    background-color: var(--primary-button);
    color: white;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.primario:hover {
    background-color: #4cae4c;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: var(--padding);
}

.container {
    display: flex;
    gap: var(--margin);
    justify-content: center;
    align-items: flex-start;
    padding: var(--padding) 0;
}

.container .coluna {
    width: 100%;
    max-width: 270px;
    height: 100%;
    max-height: 650px;
    background-color: var(--column-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    margin: var(--margin);
}

.container .coluna .head {
    background-color: var(--primary-color);
    padding: 0.75rem;
    text-align: center;
    border-radius: calc(var(--border-radius) / 2);
}

.container .coluna .body {
    display: flex;
    flex-direction: column;
    background-color: var(--column-color);
    gap: 0.5rem;
    padding: var(--padding);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #af94c9 var(--column-color);
}

.container .coluna .body::-webkit-scrollbar {
    width: 0.5rem;
}

.container .coluna .body::-webkit-scrollbar-track {
    background: var(--column-color);
    border-radius: var(--border-radius);
}

.container .coluna .body::-webkit-scrollbar-thumb {
    background-color: var(--primary-button);
    border-radius: var(--border-radius);
    border: 0.125rem solid var(--column-color);
}

.container .coluna .body .task-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container .coluna .body .task-add-btn {
    background-color: var(--primary-button); /* Cor do botão*/
    color: white;
    border-radius: var(--border-radius);
    border: none;
    padding: 0.5rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    font-size: 0.875rem; 
    transition: background-color 0.3s ease;
}

.container .coluna .body .task-add-btn:hover {
    background-color: #4cae4c; /* Cor mais clara ao passar o mouse */
}

.container .coluna .body .task-add-btn .material-symbols-outlined {
    margin-right: 0.25rem;
    font-size: 1.125rem; /* Diminuir o tamanho do ícone */
}

.container .coluna .body .card {
    border-radius: var(--border-radius);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.baixa {
    background-color: #9bffb2; /* Verde claro */
}

.media {
    background-color: #ffe181; /* Laranja claro */
}

.alta {
    background-color: #ffb0b6; /* Vermelho claro */
}

.nao-definido {
    background-color: #DDD; /* Cor para prioridade não definida */
}

.container .coluna .body .card .info {
    font-size: 0.875rem;
    color: #333;
    display: flex;
    flex-direction: column;
}

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

#modal .box {
    background-color: var(--primary-color);
    width: 90%;
    max-width: 400px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

#modal .box .head {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #DDD;
}

#modal .box .head span {
    font-size: 1.125rem;
    font-weight: 700;
    color: #DDD;
}

#modal .box .head button {
    border: none;
    background: none;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    color: #DDD;
}

#modal .box .form {
    padding: var(--padding);
}

#modal .box .form .form-group {
    margin-bottom: 0.75rem;
}

#modal .box .form label {
    display: block;
    font-size: 0.875rem;
    color: #DDD;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

#modal .box .form textarea,
#modal .box .form select,
#modal .box .form input {
    width: 100%;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    font-size: 0.875rem;
    border: 1px solid #999;
    color: #333;
}

#modal .box .form textarea {
    padding: 0.5rem;
}

#modal .box .form select {
    padding: 0.5rem;
}

#modal .box .form button {
    display: block;
    margin-left: auto;
}

#modal .box .form-btn{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#modal .box .form button.delete-btn {
    display: block;
    background-color: #d9534f;
    color: white;
    margin-left: 0;
}

#modal .box .form button.delete-btn:hover {
    background-color: #e07875;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .container .coluna {
        width: 90%;
        max-width: none;
    }
}